/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  transition: 0.1s;
}

picture,
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

*:focus-visible {
  outline: 0.25rem solid #91abf4;
  outline-offset: 0.05rem;
}

a {
  text-underline-offset: 0.15rem;

  &:hover,
  &:focus-visible {
    filter: brightness(0.9);
  }
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
